[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
selenium = "*"
geopy = "*"
requests = "*"
beautifulsoup4 = "*"
webdriver-manager = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
ipykernel = "*"
prompt-toolkit = "*"
asyncio = "*"
aiohttp = "*"
python-dotenv = "*"
futures = "*"
fastparquet = "*"
pyarrow = "*"
psycopg2 = "==2.9.9"
psycopg2-binary = "==2.9.9"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.11"
